<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9e5ac04d15.js" crossorigin="anonymous"></script>
  <link href="../assets/style.css" rel="stylesheet">
  <title>Contact</title>
</head>
<body>
<div class="contact-container container-fluid">
  <!-- Navbar starts -->
  <div class="row">
    <div class="col-12 p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light h-100">
        <a class="navbar-brand text-info ml-5">Jess Moran</a>
        <div class="collapse navbar-collapse d-flex justify-content-end mr-lg-5" id="navbarNav">
          <ul class="links-list navbar-nav">
            <li class="nav-item mr-4">
              <a class="nav-link" href="../index.html">About</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link" href="./portfolio.html">Portfolio</a>
            </li>
            <li class="nav-item  active"> <!-- The active class is used to select and style the active link -->
              <a class="nav-link" href="./contact.html">Contact<span class="sr-only">(current)</span></a>
            </li>
          </ul>  <!-- .links-list closed -->
        </div>  <!-- .navbar-collapse closed -->
      </nav>
    </div>  <!-- .col-12 closed -->
  </div>  <!-- .row closed -->
  <!-- Main section starts -->
  <div class="row">
    <div class="col-12">
      <section class="contact-card card mx-auto p-5 my-5 text-right">
        <h5 class="text-info title-cards text-left">Contact</h5>
        <!-- Form inputs -->
        <div class="name-input input-group mt-5 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="mail-input input-group mb-3">
          <input type="text" class="form-control" placeholder="hello" aria-label="hello"
                 aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">@example.com</span>
          </div>
        </div>
        <div class="message-input input-group h-100">
          <div class="input-group-prepend">
            <span class="input-group-text">Message</span>
          </div>
          <textarea class="form-control" aria-label="Message"></textarea>
        </div>
        <!-- Form inputs ends -->
        <button type="button" class="btn btn-outline-info mt-5">Submit</button>
        <!-- Button to submit the user data that it gets on the inputs -->
      </section>
    </div>  <!-- col-12 closed -->
  </div>  <!-- row closed -->
  <!-- Footer starts -->
  <div class="row">
    <div class="col-12 p-0">
      <footer class="contact-footer bg-info d-flex align-items-center ">
        <!-- Media links -->
        <ul class="d-flex mx-auto p-0 m-0">
          <li class="m-8 list-unstyled">
            <a class="text-light font-icons mx-5" href="https://github.com/JessMoran"><i
              class="fab fa-github"></i></a>
          </li>
          <li class="m-8 list-unstyled">
            <a class="text-light font-icons mx-5" href="https://www.linkedin.com/in/jess-moran/"><i
              class="fab fa-linkedin"></i></a>
          </li>
          <li class="m-8 list-unstyled">
            <a class="text-light font-icons mx-5" href="tel:9803399089"><i class="fas fa-phone"></i></a>
          </li>
          <li class="m-8 list-unstyled">
            <a class="text-light font-icons mx-5" href="mailto:jivmjessy@gmail.com"><i
              class="far fa-envelope"></i></a>
          </li>
        </ul> <!-- Media links closed -->
      </footer>
    </div>  <!-- col-12 closed -->
  </div>  <!-- row closed -->
</div>
</body>
</html>
